# 忽略所有文件
*

# 保留 .gitignore 本身
!.gitignore
!.github/
.github/*
!.github/workflows/
!.github/workflows/*.yml

!scripts/
scripts/*
!scripts/*.sh

# 保留 newlayout/ 目录（以便 git 进入）
!newlayout/
newlayout/*

# 保留 newlayout/ 下的 TeX 源文件
!newlayout/*.tex
!newlayout/*.sty
!newlayout/*.cls
!newlayout/*.bib
!newlayout/*.bbx
!newlayout/*.cbx

# 保留 newlayout-lua/ 目录（以便 git 进入）
!newlayout-lua/
newlayout-lua/*

# 保留 newlayout-lua/ 下的 Lua 源文件
!newlayout-lua/*.lua

# 保留 newlayout-lua/ 下的 TeX 源文件
!newlayout-lua/*.tex
newlayout-lua/whichJson.tex
# 这个文件特殊，不追踪
!newlayout-lua/*.sty
!newlayout-lua/*.cls
!newlayout-lua/*.bib
!newlayout-lua/*.bbx
!newlayout-lua/*.cbx

!prompt/
prompt/*

!prompt/*.json
!prompt/*.jsonc
!prompt/*.md

!output-manual/
output-manual/*
!output-manual/*.json
!output-manual/*.pdf

!README.md
